

footer{
    display: flex;
    justify-content: space-between;
    margin: 11.5rem 5rem 6.25rem 10.625rem;
}

.footer-distributed{
    display: flex;
    justify-content: space-between;

}
.footer-logo{
    width: 13.0477vh;
}
.right-1 ul{
    display: flex;
    justify-content: space-between;

}
.right-2 ul{
    display: flex;
    justify-content: space-between;

}
.footer-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.footer-right li, a {
    padding-right: 3.75rem;
    text-decoration: none;
    list-style: none;
    font-size: 1.0625rem;
}


.adress p{
    /* line-height: 45%;
    font-size: 1.3em; */
    width: 400px;
    line-height: 1.0987rem;
    font-size: .9375rem;
}