

.footer-distributed{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    margin-top: 11.5rem;
    margin-bottom: 6.25rem;
    background-color: #ECF7FF;
}
.footer-logo{
    width: 20%;
}



.footer-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 10px;
    


}
.right1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.right2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.right1 a{
    margin-right: 3.75rem;
    text-decoration: none;
}
.right2 a{
    margin-right: 3.75rem;
    text-decoration: none;
}

.adress p{
    line-height: 45%;
    font-size: 1.3em;
    width: 400px;
    line-height: 1.0987rem;
    font-size: .9375rem;
}


