

footer{
    display: flex;
    justify-content: space-between;
}

.footer-distributed{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    margin-top: 11.5rem;
    margin-bottom: 6.25rem;

}
.footer-logo{
    /* width: 13.0477vw; */
}


.right-1{
    display: flex;
}

.right-1 ul{
    display: flex;
}
.right-2 ul{
    display: flex;
    justify-content: space-between;

}
.footer-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.footer-right li a {
    padding-right: 3.75rem;
    font-size: 1.0625rem;
} */


.adress p{
    line-height: 45%;
    font-size: 1.3em;
    width: 400px;
    line-height: 1.0987rem;
    font-size: .9375rem;
}


