@media (max-width:666px){
  .hamburguesa-sincebolla {
    display: none;
  }

}
@media (min-width:666px){
  .hamburguesa-completa {
    display: none;
  }
  

}
header{
    max-width: 68.75rem ;
    margin: auto;
    margin-top: 5.3125rem;
    margin-bottom: 10.0625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F4FC;
  
  }
  .menu-selected {
    color: #072AC8;
  }
  
  .nav-logo{
    width: 60.53px;
    height: 18.46px;
  
  }
  .nav-bar-ul{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1.0625rem;
    line-height: 130%;
  }
  nav ul, a, button{
    cursor: pointer;
    color: #292E47;
  
   }
  .nav-bar a{
    text-decoration: none;
  }
  
  
  .nav-bar li{
    margin-right: 3.75rem;
    list-style: none;
    display: inline-block;
  }
  
  button {
    padding: .9375rem 2.0625rem .9375rem 2.0625rem;
    font-size: 1.0625rem;
    background-color: #072AC8;
    color: white;
    border: none;
  }
button a {
  text-decoration: none;
  color: white;
}