/* 
*******************
Hero Section START
*******************
*/

#hero-Section {
    display: flex;
    width: 100%;
    height: 40.625em;
    padding: 13.875em;
}

.container-HeroSection {
    display: flex;
    border: red 1px solid;
    align-items: center;
    justify-content: space-between;
    flex-flow: row, nowrap;
    width: 76.39%;
}

.content-HeroSection {
    border: rgb(70, 169, 154) 1px solid;
    align-items: center;
    width: 31.81%;
    height: 26.375em;
    left: 10.625em;
    top: 6.813em;
}

.image {
    border: rgb(241, 40, 252) 1px solid;
    width: 39.58%;
    height:auto;
    left: 43.75em;
    top: 0em;
}

.card-1 {
    width: 50%;
    height: auto;
    left: 43.75em;
    top: 1.563em;
}

.card-2 {
    width: 11.875em;
    height: 12.063em;
    left: 67.5em;
    top: 28.563em;
}

#hero-Image{
    width: 100%;
    height: 100%;
}

/* 
*******************
Hero Section END
*******************
*/

/* 
*******************
Client Section START
*******************

[1] Los logos están ordenados en _reverse_ y cada uno tiene
un orden asignado, estando el (Grupo 23) entre el 24 y 25.
[2] Hay un rectangulo debajo de cada logo en modo: ( visibility: hidden;)
entiendo que será el área de actuación del ratón para el cambio
de color y al click, el href www. a la web de la empresa del logo.

*/

#client-Section {
    visibility: hidden;
    display: flex;
    width: 1440px;
    height: 96px;
    left: calc(50% - 1440px/2);
    top: 1002px;
}

.clients-Grayscale {
    position: absolute;
    width: 1077px;
    height: 96px;
    left: 193px;
    top: 0px;
}

.container-ClientSection {
    position: absolute;
    width: 1100px;
    height: 96px;
    left: 170px;
    top: 0px;
}

/* 
*******************
Client Section END
*******************
*/









/* 
#Homepage{

position: relative;
width: 1440px;
height: 4490px;
}
#Neutral-Light{
background: #F4F6FC;
}

#Footer Section{

display: flex;
width: 1440px;
height: 242px;
left: calc(50% - 1440px-2);
bottom: 0px;
}


#Container {

display: flex;
width: 1100px;
height: 112px;
left: 170px;
top: 30px;
}


#Links{

display: flex;
width: 435px;
height: 112px;
left: 835px;
top: 30px;

}

#Group-18{

display: flex;
width: 435px;
height: 112px;
left: 835px;
top: 30px;
}




#Auto-layout{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 106px;

display: flex;
width: 435px;
height: 112px;
left: 835px;
bottom: 100px;
}


#Auto-layout{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 60px;

width: 43px;
height: 112px;
}

#Inside-auto-layout{
flex: none;
order: 0;
flex-grow: 0;
}

#Team{

width: 43px;
height: 26px;
}
#Headline-Regular{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
}

#Neutral-Medium{
color: #6B708D;
}

#Inside-auto-layout{
flex: none;
order: 0;
flex-grow: 0;
}

#Press{

width: 43px;
height: 26px;
}
#Headline-Regular{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
}

#Neutral-Medium{
color: #6B708D;

}
#Inside-auto-layout{
flex: none;
order: 1;
flex-grow: 0;
}



#Auto-layout{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 60px;

width: 65px;
height: 112px;

}
#Inside-auto-layout{
flex: none;
order: 1;
flex-grow: 0;

}
#Services{

width: 65px;
height: 26px;
}

#Headline-Regular{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
}

#Neutral-Medium{
color: #6B708D;

}
#Inside-auto-layout{
flex: none;
order: 0;
flex-grow: 0;
}

#Projects{

width: 63px;
height: 26px;
}
#Headline-Regular{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
}

#Neutral-Medium{
color: #6B708D;
}

#Inside-auto-layout{
flex: none;
order: 1;
flex-grow: 0;
}



#Auto-layout{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 60px;

width: 105px;
height: 112px;
}

#Inside-auto-layout{
flex: none;
order: 2;
flex-grow: 0;
}

#About-Us{

width: 70px;
height: 26px;
}
#Headline-Regular{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
}

#Neutral-Medium{
color: #6B708D;
}

#Inside-auto-layout{
flex: none;
order: 0;
flex-grow: 0;
}

#Privacy-Policy{

width: 105px;
height: 26px;
}

#Headline-Regular{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
}

#Neutral-Medium{
color: #6B708D;
}

#Inside-auto-layout{
flex: none;
order: 1;
flex-grow: 0;
}

#Content{

display: flex;
width: 260px;
height: 112px;
left: 170px;
top: 30px;
}


#Westheimer-Rd{

display: flex;
width: 260px;
height: 52px;
left: 170px;
bottom: 100px;
}
#Headline-Regular{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
}

#Neutral-Medium{
color: #6B708D;
}


#Logo{

display: flex;
width: 98.38px;
height: 30px;
left: 170px;
top: 30px;
}


#Circle{

display: flex;
width: 98.38px;
height: 30px;
left: 170px;
bottom: 182px;
}
#Primary-Default{
background: #072AC8;
}

#Navbar{

display: flex;
width: 1440px;
height: 122px;
left: calc(50% - 1440px-2);
top: 0px;
}


#Container{

display: flex;
width: 1099.36px;
height: 52px;
left: 170.64px;
top: 70px;
}


#Logo{

display: flex;
width: 60.53px;
height: 18.46px;
left: 170.64px;
top: 86.91px;
}


#Circle{

display: flex;
width: 60.53px;
height: 18.46px;
left: 170.64px;
top: 86.91px;
}
#Primary-Default{
background: #072AC8;
}

#Menu{
}
#Auto layout{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 60px;

display: flex;
width: 295px;
height: 22px;
left: 544px;
top: 85px;

}

#Home {

width: 46px;
<<<<<<< HEAD
height: 22px; }

#Web-Headline-Medium {
=======
height: 22px;
}
#Web-Headline-Medium{
font-family: 'Roboto';
>>>>>>> 7cebe81ddbec58b31e68b3caeaa68b6eb20b8e74
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 130%;
<<<<<<< HEAD
}

#identical {
    to box height, or 22px}

#Primary-Default {
=======

}
#Primary-Default{
>>>>>>> 7cebe81ddbec58b31e68b3caeaa68b6eb20b8e74
color: #072AC8;
}

#Inside auto layout{
flex: none;
order: 0;
flex-grow: 0;

}
#Projects{

width: 63px;
height: 22px;
}
#Web-Headline-Medium{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 130%;
}

#Neutral-Medium{
color: #6B708D;
}

#Inside auto layout{
flex: none;
order: 1;
flex-grow: 0;
}

#Services{

width: 66px;
height: 22px;
}
#Web-Headline-Medium{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 130%;
}

#Neutral-Medium{
color: #6B708D;
}

#Inside auto layout{
flex: none;
order: 2;
flex-grow: 0;
}



#Auto layout{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 36px;
gap: 10px;
}

#Primary-Default{
background: #072AC8;

}
#Contact Us{

width: 84px;
height: 22px;
}
#Web-Headline-Medium{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 130%;

text-align: center;

color: #FFFFFF;
}

#Inside auto layout{
flex: none;
order: 0;
flex-grow: 0;
}

#Client Section{

display: flex;
width: 1440px;
height: 96px;
left: calc(50% - 1440px-2);
top: 1002px;
}


#Container{

display: flex;
width: 1100px;
height: 96px;
left: 170px;
top: 0px;
}


#Group-24{

display: flex;
width: 150px;
height: 96px;
left: 409px;
top: 0px;
}


#Rectangle-29{

display: flex;
visibility: hidden;
width: 150px;
height: 96px;
left: 409px;
top: 0px;

background: #FFFFFF;
border-radius: 20px;
}

#Google-Logo-1{

display: flex;
width: 96px;
height: 32px;
left: 436px;
top: 32px;

}

#Group{

display: flex;
left: 0.65%;
right: 1.25%;
top: 0.51%;
bottom: 3.01%;

}

#Vector{

display: flex;
left: 26.44%;
right: 57.37%;
top: 27.17%;
bottom: 24.61%;

background: #EA4335;
}

#Vector{

display: flex;
left: 43.91%;
right: 39.9%;
top: 27.17%;
bottom: 24.61%;

background: #FBBC05;
}

#Vector{

display: flex;
left: 61.36%;
right: 23.17%;
top: 27.17%;
bottom: 3.01%;

background: #4285F4;
}

#Vector{

display: flex;
left: 78.92%;
right: 17.62%;
top: 3.26%;
bottom: 26.09%;

background: #34A853;
}

#Vector{

display: flex;
left: 83.87%;
right: 1.25%;
top: 27.16%;
bottom: 24.62%;

background: #EA4335;

}
#Vector{

display: flex;
left: 0.65%;
right: 74.93%;
top: 0.51%;
bottom: 24.62%;

background: #4285F4;
}

#Group-23{

display: flex;
width: 150px;
height: 96px;
left: 170px;
top: 0px;
}


#Rectangle-29{

display: flex;
visibility: hidden;
width: 150px;
height: 96px;
left: 170px;
top: 0px;

background: #FFFFFF;
border-radius: 20px;
}

#Airbnb-Logo-1{

display: flex;
width: 104px;
height: 32px;
left: 193px;
top: 32px;
}


#Group{

display: flex;
left: 0.46%;
right: 0.82%;
top: -0.07%;
bottom: 0%;
}


#Vector{

display: flex;
left: 0.46%;
right: 0.82%;
top: -0.07%;
bottom: 0%;

background: #FF385C;
}

#Group-25{

display: flex;
width: 150px;
height: 96px;
left: 646px;
top: 0px;
}


#Rectangle-29{

display: flex;
visibility: hidden;
width: 150px;
height: 96px;
left: 646px;
top: 0px;

background: #FFFFFF;
border-radius: 20px;
}

#Microsoft-Logo-1{

display: flex;
width: 123px;
height: 26px;
left: 660px;
top: 35px;

}

#Group{

display: flex;
left: 0.41%;
right: 0.42%;
top: 0%;
bottom: 0%;
}


#Vector{

display: flex;
left: 27.93%;
right: 0.42%;
top: 15.58%;
bottom: 18.91%;

background: #737373;

}
#Vector{

display: flex;
left: 0.41%;
right: 89.53%;
top: 0%;
bottom: 52.48%;

background: #F25022;
}

#Vector{

display: flex;
left: 11.52%;
right: 78.41%;
top: 0%;
bottom: 52.48%;

background: #7FBA00;
}

#Vector{

display: flex;
left: 0.41%;
right: 89.53%;
top: 52.48%;
bottom: 0%;

background: #00A4EF;
}

#Vector{

display: flex;
left: 11.52%;
right: 78.41%;
top: 52.48%;
bottom: 0%;

background: #FFB900;
}

#Group-26{

display: flex;
width: 150px;
height: 96px;
left: 883px;
top: 0px;
}


#Rectangle-29{

display: flex;
visibility: hidden;
width: 150px;
height: 96px;
left: 883px;
top: 0px;

background: #FFFFFF;
border-radius: 20px;
}

#FedEx-Logo-1{

display: flex;
width: 101px;
height: 30px;
left: 908px;
top: 33px;
}


#Group{

display: flex;
left: 0.5%;
right: 0.62%;
top: 0%;
bottom: -0.53%;
}


#Vector{

display: flex;
left: 74.12%;
right: 0.62%;
top: 35.43%;
bottom: 2.99%;

background: #FF6600;
}

#Vector{

display: flex;
left: 57.9%;
right: 25.88%;
top: 0%;
bottom: 2.99%;

background: #FF6600;
}

#Vector{

display: flex;
left: 0.5%;
right: 42.1%;
top: 0%;
bottom: -0.53%;

background: #652C8F;
}

#Group-27{

display: flex;
width: 150px;
height: 96px;
left: 1120px;
top: 0px;
}


#Rectangle-29{

display: flex;
visibility: hidden;
width: 150px;
height: 96px;
left: 1120px;
top: 0px;

background: #FFFFFF;
border-radius: 20px;

}
#Amazon-Logo-1{

display: flex;
width: 104px;
height: 32px;
left: 1143px;
top: 32px;

}

#Group{

display: flex;
left: 0.48%;
right: 0.48%;
top: 0%;
bottom: 0%;
}


#Vector{

display: flex;
visibility: hidden;
left: 0.48%;
right: 0.48%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
}

#Vector{

display: flex;
left: 14.41%;
right: 37.65%;
top: 63.8%;
bottom: 0%;

background: #FF9900;
}

#Vector{

display: flex;
left: 57.12%;
right: 33.03%;
top: 60.33%;
bottom: 7.15%;

background: #FF9900;
}

#Vector-2{

display: flex;
left: 57.15%;
right: 30.74%;
top: 1.47%;
bottom: 43.39%;

background: #000000;
}

#Vector-3{

display: flex;
left: 17.36%;
right: 61.99%;
top: 0.51%;
bottom: 42.03%;

background: #000000;
}

#Vector-4{

display: flex;
left: 70.73%;
right: 15.36%;
top: 0.51%;
bottom: 40.94%;

background: #000000;
}


#Clients-Grayscale{

display: flex;
width: 1100px;
height: 96px;
left: 170px;
top: 0px;

}

#Group-24{

display: flex;
width: 150px;
height: 96px;
left: 409px;
top: 0px;
}


#Rectangle-29{

display: flex;
visibility: hidden;
width: 150px;
height: 96px;
left: 409px;
top: 0px;

background: #FFFFFF;
border-radius: 20px;
}

#Google-Logo-1{

display: flex;
width: 96px;
height: 32px;
left: 436px;
top: 32px;
}


#Group{

display: flex;
left: 0.65%;
right: 1.25%;
top: 0.51%;
bottom: 3.01%;
}


/* #Vector{

display: flex;
left: 26.44%;
right: 57.37%;
top: 27.17%;
bottom: 24.61%;

background: #656565;


#Vector{

display: flex;
left: 43.91%;
right: 39.9%;
top: 27.17%;
bottom: 24.61%;

background: #BCBCBC;


#Vector{

display: flex;
left: 61.36%;
right: 23.17%;
top: 27.17%;
bottom: 3.01%;

background: #7F7F7F;


#Vector{

display: flex;
left: 78.92%;
right: 17.62%;
top: 3.26%;
bottom: 26.09%;

background: #898989;


#Vector{

display: flex;
left: 83.87%;
right: 1.25%;
top: 27.16%;
bottom: 24.62%;

background: #656565;


#Vector{

display: flex;
left: 0.65%;
right: 74.93%;
top: 0.51%;
bottom: 24.62%;

background: #7F7F7F;


#Group-23{

display: flex;
width: 150px;
height: 96px;
left: 170px;
top: 0px;
}


#Rectangle-29{

display: flex;
visibility: hidden;
width: 150px;
height: 96px;
left: 170px;
top: 0px;

background: #FFFFFF;
border-radius: 20px;
}

#Airbnb-Logo-1{

display: flex;
width: 104px;
height: 32px;
left: 193px;
top: 32px;
}


#Group{

display: flex;
left: 0.46%;
right: 0.82%;
top: -0.07%;
bottom: 0%;
}


/* #Vector{

display: flex;
left: 0.46%;
right: 0.82%;
top: -0.07%;
bottom: 0%;

background: #656565; 


#Group-25{

display: flex;
width: 150px;
height: 96px;
left: 646px;
top: 0px;
}


#Rectangle-29{

display: flex;
visibility: hidden;
width: 150px;
height: 96px;
left: 646px;
top: 0px;

background: #FFFFFF;
border-radius: 20px;
}

#Microsoft-Logo-1{

display: flex;
width: 123px;
height: 26px;
left: 660px;
top: 35px;
}


#Group{

display: flex;
left: 0.41%;
right: 0.42%;
top: 0%;
bottom: 0%;
}

/* 
#Vector{

display: flex;
left: 27.93%;
right: 0.42%;
top: 15.58%;
bottom: 18.91%;

background: #737373;


#Vector{

display: flex;
left: 0.41%;
right: 89.53%;
top: 0%;
bottom: 52.48%;

background: #6F6F6F;


#Vector{

display: flex;
left: 11.52%;
right: 78.41%;
top: 0%;
bottom: 52.48%;

background: #A0A0A0;


#Vector{

display: flex;
left: 0.41%;
right: 89.53%;
top: 52.48%;
bottom: 0%;

background: #878787;


#Vector{

display: flex;
left: 11.52%;
right: 78.41%;
top: 52.48%;
bottom: 0%;

background: #BBBBBB;


#Group-26{

display: flex;
width: 150px;
height: 96px;
left: 883px;
top: 0px;
}


#Rectangle-29{

display: flex;
visibility: hidden;
width: 150px;
height: 96px;
left: 883px;
top: 0px;

background: #FFFFFF;
border-radius: 20px;
}

#FedEx-Logo-1{

display: flex;
width: 101px;
height: 30px;
left: 908px;
top: 33px;
}


#Group{

display: flex;
left: 0.5%;
right: 0.62%;
top: 0%;
bottom: -0.53%;
}


#Vector{

display: flex;
left: 74.12%;
right: 0.62%;
top: 35.43%;
bottom: 2.99%;

background: #7F7F7F;

}
#Vector{

display: flex;
left: 57.9%;
right: 25.88%;
top: 0%;
bottom: 2.99%;

background: #7F7F7F;
}

#Vector{

display: flex;
left: 0.5%;
right: 42.1%;
top: 0%;
bottom: -0.53%;

background: #3F3F3F;
}

#Group-27{

display: flex;
width: 150px;
height: 96px;
left: 1120px;
top: 0px;
}


#Rectangle-29{

display: flex;
visibility: hidden;
width: 150px;
height: 96px;
left: 1120px;
top: 0px;

background: #FFFFFF;
border-radius: 20px;
}

#Amazon-Logo-1{

display: flex;
width: 104px;
height: 32px;
left: 1143px;
top: 32px;
}


#Group{

display: flex;
left: 0.48%;
right: 0.48%;
top: 0%;
bottom: 0%;
}


/* #Vector{

display: flex;
visibility: hidden;
left: 0.48%;
right: 0.48%;
top: 0%;
bottom: 0%;

background: #FFFFFF;


#Vector{

display: flex;
left: 14.41%;
right: 37.65%;
top: 63.8%;
bottom: 0%;

background: #A4A4A4;


#Vector{

display: flex;
left: 57.12%;
right: 33.03%;
top: 60.33%;
bottom: 7.15%;

background: #A4A4A4;


#Vector{

display: flex;
left: 57.15%;
right: 30.74%;
top: 1.47%;
bottom: 43.39%;

background: #000000;


#Vector{

display: flex;
left: 17.36%;
right: 61.99%;
top: 0.51%;
bottom: 42.03%;

background: #000000;


#Vector{

display: flex;
left: 70.73%;
right: 15.36%;
top: 0.51%;
bottom: 40.94%;

background: #000000;


#Vector{

display: flex;
left: 86.93%;
right: 0.48%;
top: 0.51%;
bottom: 42.03%;

background: #000000;


#Vector{

display: flex;
left: 40.66%;
right: 44.69%;
top: 0%;
bottom: 41.31%;

background: #000000;


#Vector{

display: flex;
left: 0.48%;
right: 84.87%;
top: 0%;
bottom: 41.31%;

background: #000000;


<<<<<<< HEAD

=======
#Hero Section{

display: flex;
width: 1440px;
height: 650px;
left: calc(50% - 1440px-2);
top: 222px;
}
>>>>>>> 7cebe81ddbec58b31e68b3caeaa68b6eb20b8e74



<<<<<<< HEAD

=======
>>>>>>> 7cebe81ddbec58b31e68b3caeaa68b6eb20b8e74


<<<<<<< HEAD

=======
>>>>>>> 7cebe81ddbec58b31e68b3caeaa68b6eb20b8e74


#See our work{

display: flex;
width: 100px;
height: 22px;
left: 360px;
top: 494px;
}
#Headline-Medium{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 130%;
}

#Neutral-Medium{
color: #6B708D;
}


#Frame-20{}

#Auto layout{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 37px;
gap: 10px;

display: flex;
width: 150px;
height: 52px;
left: 170px;
top: 479px;
}
#Primary-Default{
background: #072AC8;
}

#Get-in-touch{

width: 92px;
height: 22px;
}
#Headline-Medium{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 130%;

text-align: center;

color: #FFFFFF;
}

#Inside auto layout{
flex: none;
order: 0;
flex-grow: 0;
}

#Empower-Your-Business-With-Stunning-Design{

display: flex;
width: 530px;
height: 210px;
left: 170px;
top: 109px;
}

#Neutral-Dark{
color: #292E47;

}



#Body-Regular{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
}

#Neutral-Medium{
color: #6B708D;
}





#Hero Image{

display: flex;
width: 570px;
height: 637px;
left: 700px;
top: 0px;
}





#Ellipse-5{

display: flex;
width: 568px;
height: 568px;
left: 1.67px;
top: 62.89px;
}
#Secondary-1{
background: #FFC600;
}

#Hero-Image-2{

display: flex;
width: 599.98px;
height: 623px;
left: -6.84px;
top: 0px;

transform: rotate(1.39deg);
}

#Ellipse-6{

display: flex;
width: 599.98px;
height: 623px;
left: -6.84px;
top: 0px;
}

#Primary-Hover{
background: #A2D6F9;
transform: rotate(1.39deg);
}

#Hero-1{

display: flex;
width: 508px;
height: 632px;
left: 547.88px;
top: 5.67px;

background: url(Hero.png);
transform: matrix(-1, -0.02, -0.02, 1, 0, 0);
}



#Rectangle-69{

display: flex;
width: 190px;
height: 193px;
left: 1080px;
top: 457px;

background: #FFFFFF;
box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
border-radius: 30px;
}

#Group-52{

display: flex;
width: 162.08px;
height: 100.04px;
left: 1093.96px;
top: 501.98px;
}


#Group-50{

display: flex;
width: 62.82px;
height: 62.82px;
left: 1143.59px;
top: 501.98px;
}


#Rectangle-5{

display: flex;
width: 62.82px;
height: 62.82px;
left: 1143.59px;
top: 501.98px;
}
#Primary-Tapped{
background: #D1EDFF;
opacity: 0.4;
border-radius: 22.1705px;
}

#image-68{

display: flex;
width: 25.87px;
height: 25.87px;
left: 1162.07px;
top: 520.46px;

background: url(image.png);

}
#Project-has-been-accepted{

display: flex;
width: 162.08px;
height: 13.96px;
left: 1093.96px;
top: 588.06px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11.6327px;
line-height: 14px;

text-align: center;
}
#Neutral-Medium{
color: #6B708D;

}



#Rectangle-69{

display: flex;
width: 190px;
height: 216px;
left: 700px;
top: 25px;

background: #FFFFFF;
box-shadow: 0px 46.5686px 93.1373px rgba(0, 0, 0, 0.1);
border-radius: 30px;
}

#Pagination-Dots{

display: flex;
width: 145.29px;
height: 8.38px;
left: 722.35px;
bottom: 424.75px;
}


#Group{

display: flex;
width: 22.35px;
left: calc(50% - 22.35px-2 - 0px);
top: 22.22%;
bottom: 22.22%;
}


#Dot-Page3{

display: flex;
width: 4.66px;
height: 4.66px;
left: calc(50% - 4.66px-2 + 8.38px);
top: 0px;
}


#Page-Dot{

display: flex;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

background: #E1E1E1;

}
#Dot-Page-2{

display: flex;
width: 4.66px;
height: 4.66px;
left: calc(50% - 4.66px-2 - 0px);
top: 0px;
}


#Page-Dot{

display: flex;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;
background: #E1E1E1;
}

#Dot-Page-1{

display: flex;
width: 4.66px;
height: 4.66px;
left: calc(50% - 4.66px-2 - 8.38px);
top: 0px;
}


#Page-Dot-Selection{

display: flex;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;
}

#Neutral-Dark{
background: #292E47;
}

#Title{

display: flex;
width: 117.35px;
height: 16.76px;
left: 724.22px;
top: 75.29px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13.0392px;
line-height: 17px;
}

#Neutral-Dark{
color: #292E47;
}


#Group-51{

display: flex;
width: 141.57px;
height: 83.82px;
left: 724.22px;
top: 103.24px;
}


#Rectangle-6{

display: flex;
width: 141.57px;
height: 83.82px;
left: 724.22px;
top: 103.24px;
}
#Primary-Default{
background: #072AC8;
box-shadow: 0px 13.9706px 18.6275px rgba(36, 36, 34, 0.08), 0px 4.21172px 5.61563px rgba(36, 36, 34, 0.0521271), 0px 1.74933px 2.33245px rgba(36, 36, 34, 0.04), 0px 0.6327px 0.8436px rgba(36, 36, 34, 0.0278729);
border-radius: 18.6275px;
}

#Group{

display: flex;
left: 51.07%;
right: 47.51%;
top: 18.17%;
bottom: 79.88%;
}


#Group{

display: flex;
left: 51.07%;
right: 47.51%;
top: 18.17%;
bottom: 79.88%;
}


#Group{

display: flex;
left: 52.44%;
right: 47.52%;
top: 19.75%;
bottom: 80.21%;

transform: matrix(1, 0, 0, -1, 0, 0);
}

#Vector{

display: flex;
width: 0.54px;
height: 0.25px;
left: 755.16px;
top: 128.36px;

background: #F79410;
transform: matrix(1, 0, 0, -1, 0, 0);
}

#Vector{

display: flex;
width: 5.54px;
height: 9.92px;
left: 742.87px;
top: 119.49px;

background: #FF5F00;
}

#Group{

display: flex;
left: 51.07%;
right: 48.22%;
top: 20.12%;
bottom: 77.94%;

transform: matrix(1, 0, 0, -1, 0, 0);
}

#Vector{

display: flex;
width: 10.25px;
height: 12.62px;
left: 735.39px;
top: 130.76px;

background: #EB001B;
transform: matrix(1, 0, 0, -1, 0, 0);
}

#Group{

display: flex;
left: 51.78%;
right: 47.51%;
top: 20.12%;
bottom: 77.94%;

transform: matrix(1, 0, 0, -1, 0, 0);
}

#Vector{

display: flex;
width: 10.25px;
height: 12.62px;
left: 745.63px;
top: 130.76px;

background: #F79E1B;
transform: matrix(1, 0, 0, -1, 0, 0);
}

#Title{

display: flex;
width: 24.22px;
height: 16.76px;
left: 830.39px;
top: 155.39px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 10.2451px;
line-height: 17px;

display: flex;
align-items: center;
letter-spacing: 0.465686px;

color: #CCD0E8;
}


#Ellipse-12{

display: flex;
width: 2.79px;
height: 2.79px;
left: 735.39px;
top: 162.84px;

background: #CCD0E8;
opacity: 0.3;
}

#Ellipse-16{

display: flex;
width: 2.79px;
height: 2.79px;
left: 767.06px;
top: 162.84px;

background: #CCD0E8;
opacity: 0.3;
}

#Ellipse-20{

display: flex;
width: 2.79px;
height: 2.79px;
left: 798.73px;
top: 162.84px;

background: #CCD0E8;
opacity: 0.3;
}

#Ellipse-13{

display: flex;
width: 2.79px;
height: 2.79px;
left: 741.91px;
top: 162.84px;

background: #CCD0E8;
opacity: 0.3;
}

#Ellipse-17{

display: flex;
width: 2.79px;
height: 2.79px;
left: 773.58px;
top: 162.84px;

background: #CCD0E8;
opacity: 0.3;
}

#Ellipse-21{

display: flex;
width: 2.79px;
height: 2.79px;
left: 805.25px;
top: 162.84px;

background: #CCD0E8;
opacity: 0.3;
}

#Ellipse-14{

display: flex;
width: 2.79px;
height: 2.79px;
left: 748.43px;
top: 162.84px;

background: #CCD0E8;
opacity: 0.3;
}

#Ellipse-18{

display: flex;
width: 2.79px;
height: 2.79px;
left: 780.1px;
top: 162.84px;

background: #CCD0E8;
opacity: 0.3;
}

#Ellipse-22{

display: flex;
width: 2.79px;
height: 2.79px;
left: 811.76px;
top: 162.84px;

background: #CCD0E8;
opacity: 0.3;
}

#Ellipse-15{

display: flex;
width: 2.79px;
height: 2.79px;
left: 754.95px;
top: 162.84px;

background: #CCD0E8;
opacity: 0.3;
}

#Ellipse-19{

display: flex;
width: 2.79px;
height: 2.79px;
left: 786.62px;
top: 162.84px;

background: #CCD0E8;
opacity: 0.3;
}

#Ellipse-23{

display: flex;
width: 2.79px;
height: 2.79px;
left: 818.28px;
top: 162.84px;

background: #CCD0E8;
opacity: 0.3;
}

#Back{

display: flex;
width: 27.94px;
height: 16.76px;
left: 724.22px;
top: 45.49px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 11.1765px;
line-height: 17px;

text-align: center;

color: #9B9B9A;
}


#Projects-Section{

display: flex;
width: 1440px;
height: 561px;
left: calc(50% - 1440px-2);
top: 1298px;
}


.Container {

display: flex;
width: 1100px;
height: 561px;
left: 170px;
top: 0px;
}


#Recent-Projects{

display: flex;
width: 285px;
height: 47px;
left: 170px;
top: 0px;
}

#Neutral-Dark{
color: #292E47;
}


#Projects{

display: flex;
width: 1100px;
height: 444px;
left: 170px;
top: 117px;
}


#Project-1{

display: flex;
width: 340px;
height: 444px;
left: 170px;
top: 117px;
}


#Rectangle-70{

display: flex;
width: 340px;
height: 444px;
left: 170px;
top: 117px;

background: #FFFFFF;
box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
}

#Rectangle-71{

display: flex;
width: 340px;
height: 240px;
left: 170px;
top: 117px;

background: url(4.jpg);
}

#Simplify{

display: flex;
width: 88px;
height: 28px;
left: 200px;
top: 387px;
}
#Body-Medium{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
}
#Neutral-Dark{
color: #292E47;
}


#UI{

display: flex;
width: 225px;
height: 26px;
left: 200px;
top: 425px;
}
#Headline-Regular{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;

}
#Neutral-Medium{
color: #6B708D;
}


#Learn-more{

display: flex;
width: 86px;
height: 26px;
left: 200px;
top: 505px;
}
#Headline-Regular{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
}

#Primary-Default{
color: #072AC8;
}


#Project-2{

display: flex;
width: 340px;
height: 444px;
left: 550px;
top: 117px;
}


#Rectangle-70{

display: flex;
width: 340px;
height: 444px;
left: 550px;
top: 117px;
background: #FFFFFF;
box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
}

#Rectangle-71{

display: flex;
width: 340px;
height: 240px;
left: 550px;
top: 117px;

background: url(5.jpg);

}
#Dashcoin{

display: flex;
width: 101px;
height: 28px;
left: 580px;
top: 387px;
}
#Body-Medium{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
}
#Neutral-Dark{
color: #292E47;
}


#Web-Development{

display: flex;
width: 138px;
height: 26px;
left: 580px;
top: 425px;
}
#Headline-Regular{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
}

#Neutral-Medium{
color: #6B708D;
}


#Learn-more{

display: flex;
width: 86px;
height: 26px;
left: 580px;
top: 505px;
}
#Headline-Regular{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
}

#Primary-Default{
color: #072AC8;
}


#Project-3{

display: flex;
width: 340px;
height: 444px;
left: 930px;
top: 117px;
}


#Rectangle-70{

display: flex;
width: 340px;
height: 444px;
left: 930px;
top: 117px;

background: #FFFFFF;
box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
}

#Rectangle-71{

display: flex;
width: 340px;
height: 240px;
left: 930px;
top: 117px;

background: url(6.jpg);
}

#Vectorify{

display: flex;
width: 97px;
height: 28px;
left: 960px;
top: 387px;
}

#Body-Medium{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
}

#Neutral-Dark{
color: #292E47;
}


#User-Experience-Design{

display: flex;
width: 178px;
height: 26px;
left: 960px;
top: 425px;
}
#Headline-Regular{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
}

#Neutral-Medium{
color: #6B708D;
}


#Learn-more{

display: flex;
width: 86px;
height: 26px;
left: 960px;
top: 505px;
}
#Headline-Regular{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
}

#Primary-Default{
color: #072AC8;
}


#Services-Section{

display: flex;
width: 1440px;
height: 561px;
left: calc(50% - 1440px-2);
top: 2881px;
}


#Container{
display: flex;
width: 1100px;
height: 497px;
left: 170px;
top: 0px;
}


#Our-Services{

display: flex;
width: 285px;
height: 47px;
left: 170px;
top: 0px;
}


#Neutral-Dark{
color: #292E47;
}


#Services{

display: flex;
width: 1100px;
height: 380px;
left: 170px;
top: 117px;
}


#Service-1{

display: flex;
width: 340px;
height: 380px;
left: 170px;
top: 117px;
}


#Rectangle-70{

display: flex;
width: 340px;
height: 380px;
left: 170px;
top: 117px;


background: #FFFFFF;
box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
}

#Learn-more{

display: flex;
width: 86px;
height: 26px;
left: 200px;
top: 441px;
}

#Headline-Regular{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;

}

#Primary-Default{
color: #072AC8;
}


#User-Interface-Design{

display: flex;
width: 233px;
height: 28px;
left: 200px;
top: 267px;
}

#Body-Medium{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
}
#Neutral-Dark{
color: #292E47;
}


#Circle-provides{

display: flex;
width: 280px;
height: 90px;
left: 200px;
top: 315px;
}
#Body-Regular{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
}

#Neutral-Medium{
color: #6B708D;
}


#Icon{

display: flex;
width: 80px;
height: 80px;
left: 200px;
top: 157px;
}


#Group-54{

display: flex;
width: 80px;
height: 80px;
left: 200px;
top: 157px;
}


#Rectangle-74{

display: flex;
width: 80px;
height: 80px;
left: 200px;
top: 157px;
}

#Neutral-Light-Blue{
background: #ECF7FF;
border-radius: 49.6px;

}

#pen-tool{

display: flex;
width: 40px;
height: 40px;
left: 221px;
top: 177px;
}


#Vector{

display: flex;
left: 8.33%;
right: 27.67%;
top: 8.33%;
bottom: 27.67%;
}
#Primary-Default{
border: 2.5px solid #072AC8;
}

#Vector{

display: flex;
left: 45.54%;
right: 8.33%;
top: 45.53%;
bottom: 8.33%;
}
#Primary-Default{
border: 2.5px solid #072AC8;
}

#Vector{

display: flex;
left: 8.33%;
right: 57.46%;
top: 8.33%;
bottom: 57.46%;
}
#Primary-Default{
border: 2.5px solid #072AC8;
}

#Vector{

display: flex;
left: 40.46%;
right: 55.38%;
top: 40.46%;
bottom: 55.38%;
}

#Primary-Default{
border: 2.5px solid #072AC8;
}

#Service 2{

display: flex;
width: 340px;
height: 380px;
left: 550px;
top: 117px;
}


#Rectangle 70{

display: flex;
width: 340px;
height: 380px;
left: 550px;
top: 117px;


background: #FFFFFF;
box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
}

#Learn-more{

display: flex;
width: 86px;
height: 26px;
left: 580px;
top: 441px;
}
#Headline-Regular{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
}

#Primary-Default{
color: #072AC8;
}


#User Experience Design{

display: flex;
width: 254px;
height: 28px;
left: 580px;
top: 267px;

#Body-Medium{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;

#Neutral-Dark{
color: #292E47;



#Circle always focuses on delivering the best user experience to your customers.{

display: flex;
width: 280px;
height: 90px;
left: 580px;
top: 315px;

#Body-Regular{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
#or 30px{

#Neutral-Medium{
color: #6B708D;



#Icon{

display: flex;
width: 80px;
height: 80px;
left: 580px;
top: 157px;



#Group 54{

display: flex;
width: 80px;
height: 80px;
left: 580px;
top: 157px;



#Rectangle 74{

display: flex;
width: 80px;
height: 80px;
left: 580px;
top: 157px;

#Neutral-Light Blue{
background: #ECF7FF;
border-radius: 49.6px;


#mouse-cursor(32x32)@1x 1{

display: flex;
width: 40px;
height: 40px;
left: 600px;
top: 177px;



#Vector{

display: flex;
left: 62.49%;
right: 16.67%;
top: 62.5%;
bottom: 16.67%;

#Primary-Default{
border: 2.5px solid #072AC8;


#Vector{

display: flex;
left: 37.49%;
right: 16.67%;
top: 37.5%;
bottom: 16.67%;

#Primary-Default{
border: 2.5px solid #072AC8;


#Vector{

display: flex;
left: 9.33%;
right: 41.88%;
top: 9.33%;
bottom: 41.87%;

#Primary-Default{
border: 2.5px solid #072AC8;


#Service 3{

display: flex;
width: 340px;
height: 380px;
left: 930px;
top: 117px;



#Rectangle 70{

display: flex;
width: 340px;
height: 380px;
left: 930px;
top: 117px;

background: #FFFFFF;
box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);


#Learn more{

display: flex;
width: 86px;
height: 26px;
left: 960px;
top: 441px;

#Headline-Regular{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
#identical to box height, or 26px{

#Primary-Default{
color: #072AC8;



#Application Development{

display: flex;
width: 269px;
height: 28px;
left: 960px;
top: 267px;

#Body-Medium{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;

#Neutral-Dark{
color: #292E47;



#We develop high-quality mobile and web applications using the latest technology stack.{

display: flex;
width: 280px;
height: 90px;
left: 960px;
top: 315px;

#Body-Regular{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
#or 30px{

#Neutral-Medium{
color: #6B708D;



#Icon{

display: flex;
width: 80px;
height: 80px;
left: 960px;
top: 157px;



#Group 54{

display: flex;
width: 80px;
height: 80px;
left: 960px;
top: 157px;



#Rectangle 74{

display: flex;
width: 80px;
height: 80px;
left: 960px;
top: 157px;

#Neutral-Light Blue{
background: #ECF7FF;
border-radius: 49.6px;


#code-file(32x32)@1x 1{

display: flex;
width: 40px;
height: 40px;
left: 980px;
top: 177px;



#Vector{

display: flex;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

#Primary-Default{
border: 2.5px solid #072AC8;


#Vector{

display: flex;
left: 66.67%;
right: 20.83%;
top: 37.5%;
bottom: 37.5%;

#Primary-Default{
border: 2.5px solid #072AC8;


#Vector{

display: flex;
left: 20.83%;
right: 66.67%;
top: 37.5%;
bottom: 37.5%;

#Primary-Default{
border: 2.5px solid #072AC8;


#Vector{

display: flex;
left: 42.42%;
right: 42.42%;
top: 29.17%;
bottom: 29.17%;

#Primary-Default{
border: 2.5px solid #072AC8;


#Testimonial Section{

display: flex;
width: 1320px;
height: 622px;
left: calc(50% - 1320px-2);
top: 2059px;



#BG{

display: flex;
width: 1320px;
height: 622px;
left: 0px;
top: 0px;

#Neutral-Dark{
background: #292E47;


#Orbit{

display: flex;
width: 1320px;
height: 622px;
left: 0px;
top: 0px;



#Rectangle 73{

display: flex;
width: 1320px;
height: 622px;
left: 0px;
top: 0px;

#Neutral-Dark{
background: #292E47;


#Ellipse 25{

box-sizing: border-box;

display: flex;
width: 1088px;
height: 1088px;
left: 116px;
top: -233px;

opacity: 0.1;
#Neutral-Light{
border: 1px dashed #F4F6FC;


#Ellipse 26{

box-sizing: border-box;

display: flex;
width: 850px;
height: 850px;
left: 235px;
top: -114px;

opacity: 0.1;
#Neutral-Light{
border: 0.78125px dashed #F4F6FC;


#Ellipse 27{

box-sizing: border-box;

display: flex;
width: 622px;
height: 622px;
left: 349px;
top: 0px;

opacity: 0.1;
#Neutral-Light{
border: 0.571691px dashed #F4F6FC;


#Container{

display: flex;
width: 1100px;
height: 382px;
left: 110px;
top: 120px;



.Content{

display: flex;
width: 621px;
height: 382px;
left: 240px;
top: 0px;



#Hear What Our Clients Have to Say{

display: flex;
width: 621px;
height: 47px;
left: 240px;
top: 0px;

#H3{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
#identical to box height{

#Neutral-Light{
color: #F4F6FC;



#“Circle helped us through every stage of our startup. We really enjoyed working with you.”{

display: flex;
width: 596px;
height: 76px;
left: 256px;
top: 151px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 160%;
#or 38px{
text-align: center;

#Secondary-1{
color: #FFC600;



#Client's Information{

display: flex;
width: 171px;
height: 50px;
left: 465px;
top: 332px;



#Ellipse 24{

display: flex;
width: 50px;
height: 50px;
left: 465px;
top: 332px;

background: url(.png);


#Group 53{

display: flex;
width: 111px;
height: 37px;
left: 525px;
top: 339px;



#Booking.com{

display: flex;
width: 77px;
height: 15px;
left: 525px;
top: 361px;

#Caption-2{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;

#Neutral-Light{
color: #F4F6FC;



#Kristin Watson{

display: flex;
width: 111px;
height: 17px;
left: 525px;
top: 339px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 100%;
#identical to box height, or 17px{

#Primary-Hover{
color: #A2D6F9;



#Memojis{

display: flex;
width: 1185px;
height: 498px;
left: 63px;
top: 51px;



#Character=Kim, Skin tone=White, Posture=26 Crossing Finger{

display: flex;
width: 150px;
height: 150px;
left: 226px;
top: 51px;

transform: matrix(-1, 0, 0, 1, 0, 0);


#19 13{

display: flex;
left: 100%;
right: -100%;
top: 0%;
bottom: 0%;

background: url(19.png);
transform: matrix(-1, 0, 0, 1, 0, 0);


#Person=Mattew, Skin Tone=White, Posture=20 Like{

display: flex;
width: 150px;
height: 150px;
left: 213px;
top: 399px;

transform: matrix(-1, 0, 0, 1, 0, 0);


#13 5{

display: flex;
left: 100%;
right: -100%;
top: 0%;
bottom: 0%;

background: url(13.png);
transform: matrix(-1, 0, 0, 1, 0, 0);


#Character=Angela, Skin tone=White, Posture=11 Party{

display: flex;
width: 150px;
height: 150px;
left: 1248px;
top: 399px;

transform: matrix(-1, 0, 0, 1, 0, 0);


#9-1{

display: flex;
left: 100%;
right: -100%;
top: 0%;
bottom: 0%;

background: url(9.png);
transform: matrix(-1, 0, 0, 1, 0, 0);


#Person{

display: flex;
width: 150px;
height: 150px;
left: 1079px;
top: 51px;



#56-11{

display: flex;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: url(27.png);


#CTA-Section{

display: flex;
width: 1320px;
height: 500px;
left: calc(50% - 1320px-2);
top: 3578px;



#BG{

display: flex;
width: 1320px;
height: 500px;
left: 0px;
top: 0px;

#Secondary-1{
background: #FFC600;


#Container{

display: flex;
width: 1100px;
height: 227px;
left: 110px;
top: 136px;



#Do-you-have-any-questions{

display: flex;
width: 500px;
height: 47px;
left: 300px;
top: 0px;

#H3{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
#identical to box height{

#Neutral-Dark{
color: #292E47;



#Let-us-help-you{

display: flex;
width: 139px;
height: 30px;
left: 481px;
top: 67px;

#Body-Regular{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
#identical to box height, or 30px{

#Neutral-Dark{
color: #292E47;



#Text-Field{

display: flex;
width: 393px;
height: 80px;
left: 245px;
top: 147px;



#Rectangle-75{

box-sizing: border-box;

display: flex;
width: 393px;
height: 80px;
left: 245px;
top: 147px;

#Neutral-Light{
background: #F4F6FC;


#mail(32x32)@1x 1{

display: flex;
width: 30px;
height: 30px;
left: 275px;
top: 172px;



#Vector{

display: flex;
left: 8.33%;
right: 8.33%;
top: 16.67%;
bottom: 16.67%;

#Neutral-Dark{
border: 1.25px solid #292E47;


#Vector{

display: flex;
left: 8.33%;
right: 8.33%;
top: 16.67%;
bottom: 45.83%;

#Neutral-Dark{
border: 1.25px solid #292E47;


#Enter-your-email{

display: flex;
width: 123px;
height: 26px;
left: 315px;
top: 174px;

#Headline-Regular{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
#identical to box height, or 26px{
text-align: center;

#Neutral-Dark{
color: #292E47;



#Subscribe{

#Auto-layout{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 37px;
gap: 10px;

display: flex;
width: 198px;
height: 80px;
left: 658px;
top: 147px;

#Primary-Default{
background: #072AC8;


#Subscribe{

width: 77px;
height: 22px;

#Headline-Medium{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 130%;
#identical to box height, or 22px{
text-align: center;

color: #FFFFFF;


#Inside-auto-layout{
flex: none;
order: 0;
flex-grow: 0;
 */