main {
    display: flex;
}

/* 
*******************
Hero Section START
*******************
*/

#hero-Section {
    display: flex;


    justify-content: center;
    align-items: center;
    max-width: 68.75rem;
    margin: auto;
}

.container-HeroSection {
    display: flex;

    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.content-HeroSection {

    align-items: center;
    width: 48.18%;

    left: 10.625em;
    top: 6.813em;
}

.circle {
    color: var(--medium-color);
}

.btn-sow {
    background-color: var(--light-color);
    color: var(--medium-color);
}

.image {
    width: 51.82%;
    height:auto;
    left: 43.75em;
    top: 0em;
    display:flex;
    justify-content: center;
    align-items: center;

}

.imagen-derecha {
    position: relative;
    width: 100%;
}

.div-hero-image {
    min-width: 300px;
    z-index: -1;
}

#hero-Image{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.card-1 {
    position: absolute;
    z-index: 1;
    width: 63%;
    height: auto;
    left: -78px;
    top: -35px;
}

.card-2 {
    position: absolute;
    z-index: 1;
    width: 54%;
    height: auto;
    left: 45%;
    top: 66%;
}



/* 
*******************
Hero Section END
*******************
*/

/* 
*******************
Client Section START
*******************

[1] Los logos están ordenados en _reverse_ y cada uno tiene
un orden asignado, estando el (Grupo 23) entre el 24 y 25.
[2] Hay un rectangulo debajo de cada logo en modo: ( visibility: hidden;)
entiendo que será el área de actuación del ratón para el cambio
de color y al click, el href www. a la web de la empresa del logo.

*/
.group27-ClientSection,
.group26-ClientSection,
.group25-ClientSection,
.group23-ClientSection,
.group24-ClientSection {
    display: flex;
}

#client-Section {
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    height: 96px;
    left: calc(50% - 1440px/2);
    top: 1002px;
}

.clients-Grayscale {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 1077px;
    height: 96px;
    left: 193px;
    top: 0px;
}

.container-ClientSection {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 76.39%;
    height: auto;
    left: 193px;
    top: 0px;
    justify-content: space-between;
}

.client-logos {
  
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}

.client-logo {
    margin: 10px 10px 0 10px;
    padding-top: 10px;
}

/* 
*******************
Client Section END
*******************
*/

/* 
****************************
Recent Projects Section START
****************************
*/

#Recent-Projects {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
    padding:0 0 10% 0;
}

.title-Recent-Projects {
    padding-top: 10%;
}

.project-1 {
    background-color: var(--white-color);
    box-shadow: 0em 2em 3em rgb(0 0 0 / 10%);
    margin-right: 2%;
/*     width: 30.91%; */
    display: flex;
    flex-flow: row wrap;
}

.rectangle71 {
    height: 15em;
}


/* 
****************************
Recent Projects Section END
****************************
*/

/* 
****************************
Testimonial Section START
****************************
*/

#Testimonial-Section {
    background-image: url(project-assets/testimonial-section/orbit.png);
    background-color: var(--dark-color);
}

.h3-testimonial {
    color: var(--light-color);
    flex-wrap: nowrap;
    text-align: center;
}

@media screen and (max-width: 980px) {
    .mobile-first {
        display: none;
    }
}

.memoji {
    width: 100%;
}

.color-text-circle {
    color: var(--secondary-color);
}

.text-centro-circle {
    text-align: center;
}

.client-information {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Kristin-photo {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.kristin-information {
    padding-left: 10px;
}

.fullNameKristin {
    color: var(--hover-color);
    margin-bottom: 0;
}

.booking-web {
    color: var(--light-color);
    font-size: 0.8em;
    margin-top: 5px;
}

/* 
****************************
Testimonial Section END
****************************
*/

/* 
****************************
Services Section START
****************************
*/

.services {
    display: flex;
    margin-right: 10%;
    flex-direction: row;
    width: 100%;
    height: 30%;
}
.service1 {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--white-color);
    box-shadow: 0em 2em 3em rgba(0, 0, 0, 10%);
    width: 30%;
    height: 380px;
    margin: 2%;
    padding: 15px;
}

.div-icon-services {
    display: flex;
    background-color: var(--light-blue);
    border-radius: 40px;
    width: 80px;
    height: 80px;
    justify-content: center;
    margin: 10px 0 30px 0;
}

.icon-services {
    z-index: 1;
    width: 50%;
}

.title-service {
    color: var(--dark-color);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
line-height: 28px;
}

.text-service {
    color: var(--medium-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 20px;

}

.learn-more {
    color: var(--default-color);
    background: none;
    border: 0;
}
/* 
****************************
Services Section END
****************************
*/

/* Application Development */



/* Application Development */
