/*
Estilos generales
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: roboto;
}

h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;

  color: #514d67;
}

H2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  /* identical to box height */

  color: #514d67;
}

H3 {
  color: #514d67;

  position: absolute;
  width: 215px;
  height: 28px;
  left: 759px;
  top: 352px;
}
H4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  color: #514d67;
}
#Body-Medium {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #514d67;
}
#Body-Regular {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */

  color: #514d67;
}

#Headline-Regular {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  /* identical to box height, or 26px */

  color: #514d67;
}
#Headline-Medium {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */

  color: #514d67;
}

#Caption-1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #514d67;
}
#Caption-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;

  color: #514d67;
}
