/*
Estilos generales
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto";
  background: var(--light-color);
  font-size: 16px;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #292e47;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  /* identical to box height */
  color: #000000;
}

h3 {
  color: #292e47;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}

h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

#Body-Medium {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #292e47;
}
#Body-Regular {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  color: #6b708d;
}

#Headline-Regular {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  /* identical to box height, or 26px */

  color: #6b708d;
}
#Headline-Medium {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */
  color: #ffffff;
}

#Caption-1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #514d67;
}
#Caption-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;

  color: #514d67;
}
